const data = {
	relationship: ['Кто был вашей первой любовью в школе?',
						'Кто самый красивый парень / красивая девушка в школе?',
						'Что вы думаете об идеальном свидании?',
						'Куда бы вы хотели пойти на первое свидание?',
						'Есть ли у вас парень?',
						'Сколько у тебя было парней?',
						'Вас уже поцеловали?',
						'Когда у тебя был первый поцелуй и с кем?',
						'Если бы вы могли пойти на свидание со знаменитостью, кто бы это был?',
						'Ваше сердце когда-нибудь было разбито вашим парнем / девушкой?',
						'Если вы окажетесь на отдаленном острове, кого бы вы выбрали для компании?',
						'Ты когда-нибудь разбивал сердце своего парня / девушки?',
						'Вы бы расстались с кем-то, отправив ему/ей сообщение?',
						'Если бы вам пришлось пойти на свидание с одним из нас в комнате, кто бы это был?',
						'Из всех людей, с которыми ты встречался, у кого самые красивые глаза?',
						'Вы когда-нибудь влюблялись в кого-то с первого взгляда?',
						'Какой был самый неловкий момент на свидании?',
						'Вы когда-нибудь были влюблены в парней / подруг своего лучшего друга?',
						'Кто, по вашему мнению, самый красивый учитель в школе?',
						'Вы когда-нибудь флиртовали с братьями и сестрами своего лучшего друга?',
						'Как бы вы хотели, чтобы любовь вашей жизни предложила вам встречаться?',
						'Вы использовали сайт знакомств?',
						'Расскажите про свадьбу своей мечты.',
						'Вы фанатеете от какой-либо знаменитости?',
						'С каким человеком вы бы хотели пожениться в будущем?',
						'Вы завидуете кому-то из-за кого, с кем они встречаются?',
						'Сколько вы хотите детей?'
					]
}